*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Noto, 'sans';
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: auto;background-color: black;
}

h1, h2, a{
  color: red;
}

a{
  text-decoration: none;
}

h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}
main .login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


main .login-container form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .login-container form input{
  margin-bottom: 1rem;
}

@media (max-width: 600px){
  main{
    width: 70vw;
    
  }
  h2{
    font-size: 2rem;
  }

  h1{
    font-size: 2rem;

    display: none;
  }

  input[type='email'], input[type='password']{
    height: 1rem;
    width: 30vw;
    padding: 1rem;
  }
}